*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    text-align: center;
    margin-top: 2rem;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: solid 3px black;
}

.lista-item{
    margin-top: 5rem;
}