<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Vue-TodoList</title>
</head>
<body>
    <body>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <div id="app">
            <h1>
                Vue TodoList
            </h1>
        <!--inserire poi un input all'interno del main -->
        <main class="wrapper">
            <div class="taskbar">
                <input type="text" class="new-todo-element" name="userTodo" id="userTodo" v-model="newTodoElement" @keyup.enter="addNewTodoItem(todoNewEl)">
            </div>
        <!-- crea problemi nel stampare in modo corretto todolist-->
        <ul class="todo-list" v-if="todoList.length > 0">
            <li class="todo-item" v-for="(todoNewEl, index) in todoList">
                <p>
                    {{ todoList }}
                </p>
                <span>
                    <i class="fa-solid fa-xmark"@click="removeTodoElement(index)"></i>
                </span>
            </li>
        </ul>
        <p v-else>
            Aggiungere un nuovo todo di cose da fare, quindi aggiungere altro.
        </p>
    </main>
    </div>
    <script src="../js/script.js"></script>
</body>
</html>